html,
body {
  width: 100%;
  height: 100%;
}


.first,
.second {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
    font-family: Calibri;
    color: grey;
}


h2 {
    position: absolute;
    left: 250px;
    top: 80px;
    font-size: 1.3em;
    font-weight: 100;
    font-family: Calibri;
    color: #3F002D;


.ngo {
 fill: #00999970;
}

path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}

path#large_country {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}

.non-ngo {
 fill: #FFCC6670;
}

.non-ngo:hover {
fill: orange;
}

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}


#legend{
	width:90px;
	height:200px;
}
.legend {
    font-size: 12px;
    font-weight: normal;
    text-anchor: left;
}
.legendcheckbox{
	cursor: pointer;
}

#sliderContainer {
    text-align: center;
    position: relative;
    top: 600px;
}
